.nav ul{
	list-style-type:none;
	padding:0;
	overflow:hidden;
	width:100%;
	font-size:20px;
	top:0;
	left:0;
	z-index:1;
	opacity:0.9;
	position:fixed;
}
.nav li{
	float:left;
	text-align:center;
}
.nav li a{
	display:block;
	color:black;
	padding:10px 6px;
	text-decoration:none;
	font-weight:bold;
	font-family:Cormorant Unicase;
}
.nav li a:hover{
	color:grey;
	transition: all 0.3s ease;
}