*{
	box-sizing: border-box;
}
body{
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
.container{
	display:grid;
	grid-template-columns:repeat(6, 16.66%);
	grid-template-rows:auto;
	grid-template-areas:
	"a a a a a a"
	"b b c c d d"
	"e e f f g g"
	"h h i i j j"
	;
	padding:0;
	background:lightgrey;
}
.a{
	grid-area:a;
	background:url("IMG_1750.png")fixed;
    background-size: cover;
    padding-bottom:40%;
	font-family:Cormorant Unicase;
}
.a p{
	font-size:400%;
	text-align:center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
	height:100px;
	color:white;
	font-weight:bold;
}
.b{
	grid-area:b;
	vertical-align:center;
	text-align:center;
}
.b img{
	grid-area:b;
	width:100%;
	height:40%;
	padding-top:10%;
	margin:auto;
}
.c{
	grid-area:c;
	vertical-align:center;
	text-align:center;
}
.c img{
	grid-area:c;
	width:100%;
	height:40%;
	padding-top:10%;
}
.d{
	grid-area:d;
	vertical-align:center;
	text-align:center;
}
.d img{
	grid-area:d;
	width:100%;
	height:40%;
	padding-top:10%;
}
.e{
	grid-area:e;
	vertical-align:center;
	text-align:center;
}
.e img{
	grid-area:e;
	width:100%;
	height:40%;
}
.f{
	grid-area:f;
	vertical-align:center;
	text-align:center;
}
.f img{
	grid-area:f;
	width:100%;
	height:40%;
}
.g{
	grid-area:g;
	vertical-align:center;
	text-align:center;
}
.g img{
	grid-area:g;
	width:100%;
	height:40%;
}
.h{
	grid-area:h;
	vertical-align:center;
	text-align:center;
}
.h img{
	grid-area:h;
	width:100%;
	height:40%;
}
.i{
	grid-area:i;
	vertical-align:center;
	text-align:center;
}
.i img{
	grid-area:i;
	width:100%;
	height:40%;
}
.j{
	grid-area:j;
	vertical-align:center;
	text-align:center;
}
.j img{
	grid-area:j;
	width:100%;
	height:40%;
}
p{
	font-family:Cormorant Unicase;
	color:black;
	font-size:150%;
}













